*
{
	margin: 0;
	padding: 0;
}
.gui {
	background-image: url(background.jpg);
}

.dash {
	background-image: url(dash_back.jpg);
}

.regis, .sign {
	background-image: url(regis_back.jpg);
}
header {
	height: 100vh;
	background-size: cover;
	background-position: center;	
}

.nav_bar {
	height: 50px;
}

.logo {
	margin: 10px 50x;
	height: 60 px;
	position:absolute;
	width: 70px;
	height: 70px;
}

.top_menu {
	float: right;
	list-style: none;
	margin: 25 px;
}

.top_menu li {
	display: inline-block;
	margin: 15px 10px;
}

.top_menu li a {
	text-decoration: none;
	color: #f2f2f2;
	padding: 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	border: 1px solid #f2f2f2;
}

.top_menu li a:hover {
	background: #f2f2f2;
	color: #00001a;
	font-style: oblique;
}

.front_mes {
	position: relative;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	padding: 120px 30px;
}
.w_back{
	position:relative;
	color: #f2f2f2;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-align:right;
	margin-right: 100px;
	font-size: 40px;
	padding-top: 120px;
	padding-right: 70px;
	padding-bottom:20px;
	
}

.front_mes h1{
	font-size: 25px;
	margin: 25px;
}

.bt {
	font-size: 15px;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin:40px;
	text-decoration:none;
	color: #f2f2f2;
	display: inline-block;
	border: 1px solid #f2f2f2;
}

.bt1 {
	padding: 10px 10px;

}

.bt2 {
	padding: 10px 10px;
}

.bt1:hover {
	background: #e6e6e6;
	color: #00001a;
	font-style: oblique;
}

.bt2:hover {
	background: #e6e6e6;
	color: #00001a;
	font-style: oblique;
}


.reg {
	width: 400px;
	height: 450px;
	padding: 25px 25px;
	margin: 50px;
	background-color:#f2f2f2;
	position:absolute;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.rr1 {
	text-decoration:none;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin:10px;
	color: #f2f2f2;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	
}

.text_box {
	text-decoration:none;
	color: #f2f2f2;
	height: 5px;
	position:absolute;
	margin: 5px;
	padding: 5px 5px;
	
}

.box_name{
	
	width: 251px;
}
.box_user{
	
	width: 221px;
}
.box_email{
	
	width:243px;
}
.box_pass{
	
	width:226px;
}
.box_pass2{
	
	width:174px;
}

form {
	color: #f2f2f2;
}

.subBox {
	text-align: right;
}

.sub{
	margin:25px;
	
}
.s_sign{
	text-align:right;
	margin:25px;
}

table {
	border: 1px solid #f2f2f2;
	width: 1200px;
	color: #f2f2f2;
	margin: 70px;
	
}

.name_file {
	width:700px;
	padding-top:15px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.file_date, .post_by {
	width:250px;
	padding-top:15px;
	padding-bottom:5px;
	font-size: 12px;
}

#search {
	width:700px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	padding:10px;
}
#bt3, #bt4 {
	width:250px;
	border-bottom: 1px solid #f2f2f2;
	padding:10px;
}

#tick {
	padding-right: 20px;
}

































